<div class="transbox" xmlns="http://www.w3.org/1999/html">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Service Order Info</h2>
  </div>
  <div class='opacity2'></div>
  <div class='body'>
    <h3>
    <b>Nombre:</b>
    <%= @client.name %>
    </br>

    <b>Apellido:</b>
    <%= @client.last_name %>
    </br>

    <b>Email:</b>
    <%= @client.email %>
    </br>

    <b>Teléfono:</b>
    <%= @client.phone %>
    </br>

    <b>Departamento:</b>
    <%= @client.depto %>
    </br>

    <b>Creación:</b>
    <%= @client.date %>
    </br>

    <b>Estado:</b>
    <%= @client.status %>
    </br>

    <b>Puerto Patch Panel:</b>
    <%= @client.patch %>
    </br>

    <b>Última modificación:</b>
    <%= @client.date_modified %>
    </br>


    </h3>
<%= link_to 'Back', clients_path, :class=>"btn btn-inverse btn-index" %>
  </div>
</div>